body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: #fff;
    overflow: hidden;
}
main{
    background-color: #111117;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    margin-top: 0.5rem;
    background-color: #171717;
    border: 3px solid rgb(50, 50, 50);
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
input:focus{
    border: none;
    border: 3px solid #83259C;
}
button{
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background-image: linear-gradient(-45deg,#B31CD6,#D328A9);
}
div.bubble#black-up{
    width: 10rem;
    height: 10rem;
    background-image: linear-gradient(45deg,#111111,#323142);
    z-index: -1;
    border-radius: 5rem;
    position: absolute;
    top: 5.5rem;
    left: 3rem;
}
div.bubble#colorized-up{
    width: 10rem;
    height: 10rem;
    background-image: linear-gradient(45deg,#AC2BCD,#DC5BB4,#ECC5AB);
    z-index: -2;
    border-radius: 5rem;
    position: absolute;
    top: 3rem;
    left: 32rem;
}
div.bubble#black-mid{
    width: 15rem;
    height: 15rem;
    background-image: linear-gradient(45deg,#111111,#323142);
    z-index: -3;
    border-radius: 7.5rem;
    position: absolute;
    top: 15.5rem;
    left: 65rem;
}
div.bubble#colorized-mid{
    width: 10rem;
    height: 10rem;
    background-image: linear-gradient(45deg,#AC2BCD,#DC5BB4,#ECC5AB);
    z-index: -4;
    border-radius: 5rem;
    position: absolute;
    top: 11rem;
    left: 55rem;
}
div.bubble#black-down{
    width: 10rem;
    height: 10rem;
    background-image: linear-gradient(45deg,#111111,#323142);
    z-index: -5;
    border-radius: 5rem;
    position: absolute;
    top: 22rem;
    left: 19rem;
}
div.bubble#colorized-down{
    width: 15rem;
    height: 15rem;
    background-image: linear-gradient(45deg,#AC2BCD,#DC5BB4,#ECC5AB);
    z-index: -6;
    border-radius: 7.5rem;
    position: absolute;
    top: 29rem;
    left: 5rem;
}
span{
    font-weight: 100;
}
a{
    text-decoration: none;
    color: #fff;
}
form>div{
    display: flex;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-left: -5.5rem;
}
form div div{
    margin-left: 4px;
    width: 3rem;
    height: 3px;
}
form div .red{
    background-color: rgb(255, 0, 0);
}
form div .yellow{
    background-color: rgb(255, 255, 0);
}
form div .green{
    background-color: rgb(13, 255, 0);
}
.status{
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-left: -11.5rem;
}